<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="HimalayanPunch"
        android:theme="@style/Theme.HimalayanPunch"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".RegistrationActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".MainActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".ItemDetailActivity" />

    </application>

</manifest>